body {
    background-color: #222222;
}

.image {
    height: 300px;
}

.image img {
    display: block;
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
}

.icon {
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon img {
    max-width: 100%;
}